<!-- Page Content Holder -->
<div id="content" class="cont-style">
    <!--div class="row col-md-12 custom-cat">
                            <h2 style="text-shadow: 1px 2px darkgrey;text-align: center "><span class="label label-info">Campaigns </span></h1>
                        </div-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><span style="color:grey;">Campaigns</span></li>

    </ol>
    <div style="text-align: center" id="addcm">
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addCampaignModal" style="outline:none;border-color: white">
                                    Add Campaign</button></div>
    <div class="row col-md-12" id="addb" style="text-align: center">
        <a>
                                <i class="glyphicon glyphicon-plus-sign vis" data-toggle="modal" data-target="#addCampaignModal"></i>
                            </a>

    </div>

    <div id="camp" style="font-weight: bolder;font-family: Courier New, Courier, monospace">
        <% for (var i = 1; i < campaigns.length; i++) { %>
            <div class="row col-md-12">
                <div id="capmcnt<%= i %>">
                    <div id="part1" class="col-md-12">
                        <button class="btn btn-danger butt" type="button" data-toggle="collapse" data-target='#camp<%= i %>' aria-expanded="false"
                            aria-controls="footwear" style="outline:none;" id="button<%= i %>">
                                            <b><%= campaigns[i].name %></b><span style="color:aqua;margin-left: 2em;"><%= campaigns[i].sdate %> <%= campaigns[i].edate %></span>
                                            
                                         </button>
                        <span style="font-size: 2em;color:teal" id="cross<%= i %>" class="removec"><a><i class="glyphicon glyphicon-remove-sign">
                                                </a></i></span>
                        <div class="collapse" id="camp<%= i %>">
                            <div class="col-md-12">
                                <p><span><%= campaigns[i].name %> arments worn on the feet, about campaign......This Comrade is our comrade.Do needful help.Thank You.This project is targeted towards the welfare of blind and challenged people below poverty line.
                                                        We must be concerned about the people who cannot live their life better than our worst imagined scenario.</span>
                                    <span style="display:block"><b>Start Date:<%= campaigns[i].sdate %></b></span>
                                    <span><b>End Date:<%= campaigns[i].edate %></b></span>
                                </p>

                            </div>

                            <div id="part2" class="col-md-12">

                                <div id="pt<%= i %>">
                                    <div class="panel">
                                        <div class="panel-body  panel-info"><span style="text-align: center;color:steelblue;font-size: 26px;font-weight: bold">
                                                                Wish List:
                                                                <button class="btn addwsh" data-toggle="modal" data-target="#addwItemModal" style="outline:none;border-color: white;color:white">
                                                                    Add New Item 
                                                                </button></span>


                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover" id="item-table">
                                                    <thead>
                                                        <tr class="alert">
                                                            <th>Row</th>
                                                            <th>Item</th>
                                                            <th>Category</th>
                                                            <th>Price</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for (var j = 1; j < items.length; j++) { %>
                                                            <tr style="font-weight: bolder;font-family: Courier New, Courier, monospace">
                                                                <td>
                                                                    <%= j %>
                                                                </td>
                                                                <td>
                                                                    <%= items[j].name %>
                                                                </td>
                                                                <td><span class="label label-success"><%= items[j].category %></span></td>
                                                                <td>
                                                                    <%= items[j].price %> $</td>

                                                            </tr>
                                                            <% } %>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <!--table end-->
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <% } %>

            </div>
    </div>
    <div id="addwItemModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Item</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="name" placeholder="item name" id="itemName" /><br />
                    <label>Category</label>
                    <select id="categoryList">
                                              <% for (var i = 1; i < categories.length; i++) { %>
                                              <option value="<%- categories[i].id %>"><%- categories[i].name %></option>
                                              <% } %>
                                            </select>
                    <br />
                    <input type="text" name="price" placeholder="item price" id="itemPrice" /><br />
                    <input type="text" name="url" placeholder="item url" id="itemUrl" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="addItemBtn">Add Item</button>
                </div>
            </div>

        </div>
    </div>

    <div id="addCampaignModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Campaign</h4>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="name" placeholder="campaign name" id="cmpgnname" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="description" placeholder="campaign description" id="cmpgndesc" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label><input type="checkbox" name="active" id="cmpgnactive" />Check if Active Now.</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" placeholder="start date" />
                                        <span class="input-group-addon">
                                                          <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class='input-group' id='datetimepicker2'>
                                        <input type='text' class="form-control" placeholder="end date" />
                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="addCmpnBtn">Add Campaign</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    var categories = [];
    var campaigns = [];
    var items = [];
    var wishlist = [];
    var organisation = {};
    $(function () {
        moment().format();
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
        $("#addCatBtn").click(function () {
            var categoryName = $("#catname").val().trim();
            makeApiCall("post", "/category", { name: categoryName }, handleResponse);
        });

        $("#addCmpnBtn").click(function () {
            var campaignName = $("#cmpgnname").val();
            var isActive = $("#cmpgnactive").val() === "on";
            var description = $("#cmpgndesc").val();
            var startDate = $("#datetimepicker1").data("DateTimePicker").date().toDate();
            var endDate = $("#datetimepicker2").data("DateTimePicker").date().toDate();
        });
        $(document).on('click', '.removec', function () {
            remove_element(this);
        });

        function remove_element(el) {
            console.log($(el).parent().siblings().remove());
            console.log($(el).parent().remove());


        }

    });

</script>