<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 3</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="stylesheets/style4.css">
</head>

<body>
    <nav class="navbar navbar-default  custom-nav" id="navid">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">Exeter Church</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li-->


                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Log Out</a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div style="height:14em">
                    <div itemprop="image" class="profile-cover-background">
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="wrapper">
                <!-- Sidebar Holder -->
                <nav id="sidebar">
                    <ul class="list-unstyled components" id="menu-list">
                        <li id="home-menu">
                            <a href="htest">
                            <i class="glyphicon glyphicon-home"></i>
                            Home<span id="badge-id" class="badge custom-badge">4</span>
                            
                        </a>

                        </li>
                        <li id="camp-menu">
                            <a href="campaigns">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            Campaigns
                        </a>
                        </li>
                        <li id="item-menu">
                            <a href="items">                           
                            <i class="glyphicon glyphicon-duplicate"></i>
                            Items
                        </a>

                        </li>
                        <li class="active" id="cat-menu">
                            <a href="categories">
                            <i class="glyphicon glyphicon-link"></i>
                            Categories
                        </a>
                        </li>
                        <li id="faq-menu">
                            <a href="#">
                            <i class="glyphicon glyphicon-paperclip"></i>
                            FAQ
                        </a>
                        </li>
                        <li id="contact-menu">
                            <a href="#">
                            <i class="glyphicon glyphicon-send"></i>
                            Contact
                        </a>
                        </li>
                    </ul>


                </nav>
                <!-- Page Content Holder -->
                <div id="content" class="cont-style">
                    <div class="row col-md-12">
                        Wishlist
                    </div>
                    <div class="row col-md-12">
                        <% for (var i = 0; i < wishlist.length; i++) { %>
                            <div class="row col-md-12">
                                <label for="<%- wishlist[i].name %>"><%= wishlist[i].name %></label>
                                <ul>
                                    <% for (var j = 0; j < wishlist[i].wishlists.length; j++) { %>
                                        <li>
                                            <%- wishlist[i].wishlists[j].item.name %> (
                                                <%- wishlist[i].wishlists[j].quantity %>
                                                    <%- wishlist[i].wishlists[j].denomination %> ) --
                                                        <%- wishlist[i].wishlists[j].item.price %> $ </li>
                                        <% } %>
                                </ul>

                            </div>
                            <% } %>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addWishListModal">Add Wishlist</button>
                    </div>
                </div>


                <div id="addWishListModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <select id="campaignList">
                                <% for (var i = 0; i < campaigns.length; i++) { %>
                                <option value="<%- campaigns[i].id %>"><%- campaigns[i].name %></option>
                                <% } %>
                              </select>
                                    <select id="itemList">
                                  <% for (var i = 0; i < items.length; i++) { %>
                                  <option value="<%- items[i].id %>"><%- items[i].name %></option>
                                  <% } %>
                                </select>
                                    <input type='text' class="form-control" placeholder="quantity" id="itemQuantity" />
                                    <input type='text' class="form-control" placeholder="denomination" id="itemDenomination" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" id="addWshlstBtn">Add Wishlist</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>



        </div>
    </div>

    </div>

    <div cl <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="/javascripts/htest.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
        <script type="text/javascript">
            var categories = [];
            var campaigns = [];
            var items = [];
            var wishlist = [];
            var organisation = {};
            function handleResponse(xhr, status) {
              switch (status) {
                case "success": {
                  window.location = "/";
                  break;
                }
                case "error": {
                  break;
                }
              }
            }
            $(function () {
              moment().format();
              $('#datetimepicker1').datetimepicker();
              $('#datetimepicker2').datetimepicker();
              $("#addCatBtn").click(function () {
                var categoryName = $("#catname").val().trim();
                makeApiCall("post", "/category", { name: categoryName }, handleResponse);
              });
        
              $("#addItemBtn").click(function () {
                var categoryID = $("#categoryList").val();
                var itemName = $("#itemName").val();
                var itemPrice = $("#itemPrice").val();
                var itemURL = $("#itemUrl").val();
                makeApiCall("post", "/item", {
                  categoryID: categoryID,
                  name: itemName,
                  price: itemPrice,
                  url: itemURL
                }, handleResponse);
              });
        
              $("#addCmpnBtn").click(function () {
                var campaignName = $("#cmpgnname").val();
                var isActive = $("#cmpgnactive").val() === "on";
                var description = $("#cmpgndesc").val();
                var startDate = $("#datetimepicker1").data("DateTimePicker").date().toDate();
                var endDate = $("#datetimepicker2").data("DateTimePicker").date().toDate();
                makeApiCall("post", "/campaign", {
                  name: campaignName,
                  description: description,
                  active: isActive,
                  startDate: startDate,
                  endDate: endDate
                }, handleResponse);
              });
        
              $("#addWshlstBtn").click(function () {
                var campaignID = $("#campaignList").val();
                var itemID = $("#itemList").val();
                var quantity = $("#itemQuantity").val();
                var denomination = $("#itemDenomination").val();
                makeApiCall("post", "/organisation/wishlist", {
                  campaignID: campaignID,
                  itemID: itemID,
                  quantity: quantity,
                  denomination: denomination
                }, handleResponse);
              });
            });
        
            // btn click listeners
        
        
        
            function makeApiCall(verb, resource, params, callback) {
              $.ajax({
                type: verb,
                url: resource,
                data: params,
                headers: {
                  Accept: "application/json"
                },
                success: callback,
                error: callback
              })
            }
          </script>
</body>

</html>